header {
    padding: var(--space-0);
    padding-bottom: 0;
}



#settings_container {
    padding: var(--space-0);
}



.settings_group {
    background: #FFF;
    padding: var(--space--1) var(--space-0);
    margin-bottom: var(--space-0);
    border-radius: 5px;
}



a {
    display: block;
	text-decoration: none;
	color: #000;
	margin-top: 0;
	padding-top: var(--space--2);
    padding-bottom: var(--space--2);
    margin: 0;
}

a + a {
    border-top: 0;
}
