:root {
	--ratio: 1.27;
	--space-6: calc(var(--space-5) * var(--ratio));
	--space-5: calc(var(--space-4) * var(--ratio));
	--space-4: calc(var(--space-3) * var(--ratio));
	--space-3: calc(var(--space-2) * var(--ratio));
	--space-2: calc(var(--space-1) * var(--ratio));
	--space-1: calc(var(--space-0) * var(--ratio));
	--space-0: 1rem;
	--space--1: calc(var(--space-0) / var(--ratio));
	--space--2: calc(var(--space--1) / var(--ratio));
	--space--3: calc(var(--space--2) / var(--ratio));
} 




@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	src: url("Montserrat/Montserrat-Medium.ttf");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 600;
	src: url("Montserrat/Montserrat-Bold.ttf");
}





body {
	line-height: 1.27;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	background-color: #EEE;
}





h1 {
	position: relative;
	z-index: 10;
	margin: 0;
	line-height: var(--space-5);
	font-size: var(--space-1);
	text-align: center;
    background: #FFF;
    padding: var(--space-0);
    padding-bottom: 0;
}



header {
	position: sticky;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	grid-template-rows: 1fr;
	justify-items: center;
	width: 100%;
	box-sizing: border-box;
	z-index: 5;
	background-color: #FFF;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
header > button {
	width: var(--space-5);
	height: var(--space-5);
	border: 0;
	border-bottom: 2px solid #FFF;
	font-weight: 600;
	font-family: "Montserrat";
	font-size: var(--space--1);
	color: #777;
	background-color: #FFF;
	transition-duration: 0.2s;
	text-transform: uppercase;
}
header > button.open {
	color: #000;
	border-color: #000;
	border-radius: 0;
}
header > button:active {
	color: #555;
	background-color: #EEE;
}










#timetable {
	display: grid;
	grid-template-columns: var(--space-6) 1fr;
	grid-template-rows: 1fr;
	grid-gap: var(--space--1);
	padding: var(--space--1);
}





#periods_container > .period {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: var(--space-5);
	text-align: center;
	color: #555;
}
#periods_container > .period > span {
	display: block;
	font-size: var(--space--1);
}





#subjects_container > .subject {
	height: var(--space-5);
	line-height: var(--space-5);
	padding: 0 var(--space-0) 0 var(--space-0);
	box-sizing: border-box;
	font-size: var(--space-0);
	transition: opacity 0.15s, transform 0.15s;
	border-radius: 5px;
	background-color: #FFF;
}
#subjects_container > * + .subject, #periods_container > * + .period {
	margin-top: var(--space--1);
}

.subject.empty {
	visibility: hidden;
}

.subject.hidden {
	opacity: 0;
	transform: translateY(10px);
}

#subjects_container > .subject > span:nth-of-type(2) {
	float: right;
	font-size: var(--space--1);
}
