
.icon-timetable:before { content: '\e800'; } /* '' */
.icon-periods:before { content: '\e801'; } /* '' */
.icon-save-alt:before { content: '\e802'; } /* '' */
.icon-delete:before { content: '\e803'; } /* '' */
.icon-settings:before { content: '\e804'; } /* '' */
.icon-back:before { content: '\e805'; } /* '' */
.icon-save:before { content: '\e806'; } /* '' */
.icon-print:before { content: '\e807'; } /* '' */
.icon-info:before { content: '\e808'; } /* '' */
.icon-list:before { content: '\f0ca'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-source:before { content: '\f1c9'; } /* '' */
.icon-colors:before { content: '\f1fc'; } /* '' */