
.icon-settings:before { content: '\e800'; } /* '' */
.icon-periods:before { content: '\e801'; } /* '' */
.icon-timetable:before { content: '\e802'; } /* '' */
.icon-colors:before { content: '\f1fc'; } /* '' */