#collapsing_header {
	position: relative;
	z-index: 10;
    padding: 0 var(--space-0);
    background: var(--color-background-2);
    border-bottom: 1px solid var(--color-background-2);
}

#collapsing_header > button {
	float:right;
    width: var(--space-4);
    height: var(--space-4);
    margin-top: calc((var(--space-6) - var(--space-4)) / 2);
    font-size: var(--space-0);
    padding: 0;
    margin-left: var(--space--3);
}



header {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	grid-template-rows: 1fr;
	justify-items: center;
	padding: 0 !important;
}

header > button {
	width: 100%;
	max-width: 150px;
	height: var(--space-4);
	border-bottom: 2px solid var(--color-background-2);
	color: var(--color-foreground-3);
	border-radius: 0;
}

header > button:active {
	border-color: var(--color-background-1);
}

header > button.open {
	color: var(--color-foreground-1);
	border-color: var(--color-foreground-1);
}



#timetable {
	display: grid;
	grid-template-columns: var(--space-6) 1fr;
	grid-template-rows: 1fr;
	grid-gap: var(--space--1);
	padding: var(--space--1);
	user-select: none;
}



#subjects_container > .subject {
	height: var(--space-5);
	padding: 0 var(--space-0) 0 var(--space-0);
	box-sizing: border-box;
	font-size: var(--space-0);
	transition: opacity 0.15s, transform 0.15s;
	border-radius: 5px;
	background-color: var(--color-background-2);

	display: flex;
	align-items: center;
}

#subjects_container > * + .subject, #periods_container > * + .period {
	margin-top: var(--space--1);
}

.subject.empty {
	opacity: 0;
}

.subject.hidden {
	opacity: 0 !important;
	transform: translateY(10px) !important;
}

#subjects_container > .subject > span:nth-of-type(1) {
	flex-grow: 1;
	padding-right: 1ch;
}

#subjects_container > .subject > span:nth-of-type(2) {
	font-size: var(--space--1);
}

#subjects_container.empty_timetable > .subject {
	opacity: 1;
	background-color: rgba(0,0,0,0);
	color: var(--color-foreground-2);
	border: 3px dashed;
	text-align: center;
	font-size: var(--space-1);
}
