#collapsing_header {
	position: relative;
	z-index: 10;
    padding: var(--space-0);
    padding-bottom: 0;
    background: var(--color-background-2);
    border-bottom: 1px solid var(--color-background-2);
}

#collapsing_header > button {
	float:right;
    width: var(--space-4);
    height: var(--space-4);
    margin-top: calc((var(--space-5) - var(--space-4)) / 2);
    font-size: var(--space-0);
    padding: 0;
    margin-left: var(--space--3);
}





header {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	grid-template-rows: 1fr;
	justify-items: center;
}
header > button {
	width: var(--space-5);
	height: var(--space-5);
	border-bottom: 2px solid var(--color-background-2);
	color: var(--color-foreground-3);
	border-radius: 0;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
header > button.open {
	color: var(--color-foreground-1);
	border-color: var(--color-foreground-1);
}





#timetable {
	display: grid;
	grid-template-columns: var(--space-6) 1fr;
	grid-template-rows: 1fr;
	grid-gap: var(--space--1);
	padding: var(--space--1);
	user-select: none;
}





#periods_container > .period {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: var(--space-5);
	text-align: center;
	color: var(--color-foreground-2);
}
#periods_container > .period > span {
	display: block;
	font-size: var(--space--1);
}





#subjects_container > .subject {
	height: var(--space-5);
	padding: 0 var(--space-0) 0 var(--space-0);
	box-sizing: border-box;
	font-size: var(--space-0);
	transition: opacity 0.15s, transform 0.15s;
	border-radius: 5px;
	background-color: var(--color-background-2);

	display: flex;
	align-items: center;
}

#subjects_container > * + .subject, #periods_container > * + .period {
	margin-top: var(--space--1);
}

.subject.empty {
	opacity: 0;
}

.subject.hidden {
	opacity: 0;
	transform: translateY(10px);
}

#subjects_container > .subject > span:nth-of-type(1) {
	flex-grow: 1;
	padding-right: 1ch;
}

#subjects_container > .subject > span:nth-of-type(2) {
	font-size: var(--space--1);
}





.popup > span {
	display: block;
}
.popup > * + * {
	margin-top: var(--space--2);
}
.popup > .inputs_container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: var(--space--2);
	align-items: center;
}
.popup > button {
	float: right;
}
