header {
    padding: var(--space-0);
    padding-bottom: 0;
}
header > button {
    float: right;
    width: var(--space-4);
    height: var(--space-4);
    margin-top: calc((var(--space-5) - var(--space-4)) / 2);
    font-size: var(--space-0);
    padding: 0;
}



#settings_container {
    padding: var(--space-0);
}



.settings_group {
    background: var(--color-background-2);
    padding: var(--space--1) var(--space-0);
    margin-bottom: var(--space-0);
    border-radius: 5px;
}



.settings_group > .settings_group_header {
    display: flex;
}

.settings_group > .settings_group_header > h2, .settings_group h2 {
    margin: 0;
    flex-grow: 1;
}


.settings_group > .settings_group_header > button {
    height: calc(var(--space-1) * 1.27);
}

.settings_group > .settings_group_header > button.state_toggle_button {
    padding: 0;
    min-width: calc(var(--space-1) * 1.27);
}



.settings_group > * + *, .input_group {
    margin-top: var(--space--2);

}
.input_group {
    display: flex;
    line-height: var(--space-3);
}
.input_group > * + * {
    margin-left: var(--space--2);
}



#color_input_groups_container > .input_group > button,
#periods_input_groups_container > .input_group > button,
#timetable_settings_group > .schedule_inputs_container > .input_group > button {
    background-color: var(--color-background-1);
}



#color_input_groups_container > .input_group > label {
    flex-grow: 2;
}
#color_input_groups_container > .input_group > input {
    width: 9ch;
}



#periods_input_groups_container > .input_group {
    display: grid;
    grid-template-columns: 1fr 1fr var(--space-3);
    grid-gap: var(--space--2);
}
#periods_input_groups_container > .input_group > * {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
#periods_input_groups_container > .input_group > button {
    padding: 0;
    background-color: var(--color-background-3);
}



#timetable_settings_group > .input_group > input {
    width: 12ch;
}

#timetable_settings_group > .schedule_inputs_container {
    padding: 0 var(--space--2);
}

#timetable_settings_group > .schedule_inputs_container + .input_group {
    margin-top: var(--space-1);
}

#timetable_settings_group > .schedule_inputs_container > .input_group > input:nth-of-type(1) {
    flex-grow: 1;
    width: 12ch;
}

#timetable_settings_group > .schedule_inputs_container > .input_group > input:nth-of-type(2) {
    width: 9ch;
}




label[for="restore_file_input"] {
    height: var(--space-3);
    padding: 0 var(--space--1);
    border-radius: 5px;
    line-height: var(--space-3);
    text-transform: uppercase;
    font-size: var(--space--1);
    font-weight: 600;
    transition: background-color 0.2s;
}
label[for="restore_file_input"]:active {
    background-color: var(--color-background-3);
}
input[name="restore_file_input"] {
    display: none;
}
