#settings_container {
    padding: var(--space-0);
}



.settings_group {
    background: var(--color-background-2);
    padding: var(--space--3) var(--space--3);
    margin-bottom: var(--space-0);
    border-radius: 5px;
}



a {
    display: block;
	text-decoration: none;
	color: var(--color-foreground-1);
    padding: var(--space--2) var(--space--3);
    margin: 0;
    border-radius: 5px;
    transition: background-color 0.2s;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
a:active {
    background-color: var(--color-background-3);
}
a::before {
    margin-right: var(--space-0) !important;
}
