html, body {
	height: 100%;
}





header {
    padding: var(--space-0);
    padding-bottom: 0;
}
header > button {
    float: right;
    width: var(--space-4);
    height: var(--space-4);
    margin-top: calc((var(--space-5) - var(--space-4)) / 2);
    font-size: var(--space-0);
    padding: 0;
    margin-left: var(--space--3);
}





#timetable {	
	display: flex;
	padding: var(--space--1);
	user-select: none;
	max-width: 100%;
	overflow-x: auto;
	max-height: calc(100% - var(--space-5) - var(--space-0));
	box-sizing: border-box;
}
#timetable > * + * {
	margin-left: var(--space--1);
}




#periods_container > .period {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: var(--space-5);
	width: var(--space-6);
	text-align: center;
	color: var(--color-foreground-2);
	margin-top: calc(var(--space-0) + var(--space-3));
}
#periods_container > .period > span {
	display: block;
	font-size: var(--space--1);
}



.day_container {
	flex-grow: 1;
	flex-basis: 100px;
}

.day_container > .day_label {
	font-size: var(--space--1);
	color: var(--color-foreground-2);
	text-transform: uppercase;
	line-height: var(--space-3);
}

.day_container > .subject_container {
	height: var(--space-5);
	padding: 0 var(--space-0) 0 var(--space-0);
	box-sizing: border-box;
	font-size: var(--space-0);
	transition: opacity 0.15s, transform 0.15s;
	border-radius: 5px;
	background-color: var(--color-background-2);

	display: flex;
	align-items: center;
}

.day_container > * + .subject_container, #periods_container > * + .period {
	margin-top: var(--space--1);
}

.subject_container.empty {
	opacity: 0;
}

.subject_container.hidden {
	opacity: 0;
	transform: translateY(10px);
}

.day_container > .subject_container > span:nth-of-type(1) {
	flex-grow: 1;
	padding-right: 1ch;
}

.day_container > .subject_container > span:nth-of-type(2) {
	font-size: var(--space--1);
}





.popup > span {
	display: inline-block;
}
.popup > * + * {
	margin-top: var(--space--2);
}
.popup > .inputs_container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: var(--space--2);
	align-items: center;
}
.popup > button {
	float: right;
}
